$default-font: "hkgrotesk", sans-serif;
$accent: #64B143;
$text: #333333;
$head-color: #9B9B9B;

$yellow: #FFD345;
$green: #A9CF45;
$pink: #EA268F;

// Customization Uikit vars from "app/libs/uikit/scss/variables.scss"
$container-max-width: 1440px;
