@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}


header{
	box-shadow: 0px 8px 9px -4px rgba(0,0,0,0.24);
	.nav-header{
		&:first-of-type{
			li:first-child{
				a{
					padding-left: 0;
				}
			}
		}
		&:last-of-type{
			li:last-child{
				a{
					padding-right: 0;
				}
			}
		}
		ul{
			margin-bottom: 0;
			padding-left: 0;
			li{
				display: inline-block;
				list-style-type: none;
				a{
					color: $text;
					text-transform: uppercase;
					padding: 40px 33px;
					font-weight: bold;
					font-size: 15px;
					display: inline-block;
					letter-spacing: 2px;
				}
			}
		}
	}
	.uk-flex{
		justify-content: space-between;
	}
	.logo{
		img{
			height: 80px;
			margin-top: 10px;
		}
	}
}


.slider_info{
	padding: 0 130px;
	&.green{
		background-color: $green;
	}
	&.yellow{
		background-color: $yellow;
	}
	&.pink{
		background-color: $pink;
	}
	p{
		opacity: .8;
	}
	.button{
		margin-top: 50px;
	}
}

p{
	color: $text;
	font-size: 18px;
}

.button{
	border: 2px solid white;
	text-transform: uppercase;
	border-radius: 40px;
	color: white;
	font-size: 15px;
	padding: 8px 50px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	letter-spacing: 2px;
	display: block;
	&.bare{
		background-color: transparent;
		&:hover{
			background-color: #fff;
			color: $text;
		}
	}
	&:active, &:focus{
		outline: none;
	}
}

.head{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
	color: white;
}


.banner{
	min-height: 576px;
	.banner_info{
		color: white;
		text-align: center;
		max-width: 700px;
		p{
			text-align: left;
			color: white;
		}
	}
	.banner_wrap{
		background-color: rgba(0,0,0, .4);
	}
	.button{
		margin-top: 50px;
	}
}

.head_level{
	text-align: center;
	font-weight: bold;
	color: #9B9B9B;
	letter-spacing: 4px;
	font-size: 30px;
	text-transform: uppercase;
	opacity: .7;
	margin-top: 110px;
	margin-bottom: 80px;
}


.card_short{
	transition: all .5s ease;
	transform: scale(1);
	box-shadow: 0px 0px 20px 3px rgba(0,0,0,0);
	padding: 30px;
	.add_to_basket{
		text-align: center;
		display: block;
		text-transform: uppercase;
		color: $accent;
		font-size: 13px;
		letter-spacing: 2px;
		opacity: 0;
		transition: all .5s ease;
		&:hover{
			text-decoration: none;
		}
	}
	.card_img_wrap{
		height: 215px;
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
		img{
			height: 100%;
		}
	}
	.card_head{
		margin-top: 0;
		margin-bottom: 0;
		font-size: 18px;
	}
	span{
		color: $accent;
		font-size: 13px;
		letter-spacing: 2px;
		font-weight: bold;
	}
	.card_category{
		text-transform: uppercase;
	}
	&:hover{
		transform: scale(1.05);
		box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.14);
		.add_to_basket{
			opacity: 1;
		}
	}
}

.flex_logo{
	justify-content: space-between;
	> div{
		margin-bottom: 100px;
	}
}

footer{
	background-color: #333333;
	color: white;
	padding-top: 50px;
	.footer_head{
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #9B9B9B;
		font-weight: bold;
		opacity: .8;
	}
	p{
		color: white;
		font-size: 13px;
		letter-spacing: 2px;
	}
	ul{
		padding-left: 0;
		margin-bottom: 0;
		li{
			list-style-type: none;
			a{
				color: white;
				font-size: 13px;
				letter-spacing: 2px;
				&:hover{
					color: white;
				}
			}
		}
	}
}


.hardart{
	text-align: right;
	margin-top: 90px;
	padding-bottom: 20px;
}


@import "media"; // Always at the end
